-- Disable Row Level Security untuk tabel-tabel yang digunakan di form
-- Jalankan query ini di Supabase SQL Editor

-- Tabel organizational_structure
ALTER TABLE organizational_structure DISABLE ROW LEVEL SECURITY;

-- Tabel room_locations
ALTER TABLE room_locations DISABLE ROW LEVEL SECURITY;

-- Tabel device
ALTER TABLE device DISABLE ROW LEVEL SECURITY;

-- Tabel asset_condition
ALTER TABLE asset_condition DISABLE ROW LEVEL SECURITY;

-- Tabel asset_status
ALTER TABLE asset_status DISABLE ROW LEVEL SECURITY;

-- Tabel building_locations (jika diperlukan)
ALTER TABLE building_locations DISABLE ROW LEVEL SECURITY;
